.title {
    padding-top: 2rem;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
}

.userButton {
    justify-content: flex-end;
    display: flex;
}

.homeHeader {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
}

.buttons {
    display: inline-flex;
    border: none;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.homeMain {
    margin-top: 40px;
}

.textButton {
    margin-left: 4px;
}